body {
    background-image: url(img/background.png);
}
.title {
    position: absolute;
    width: 35%;
    height: 10%;
    left: 32.5%;
    top: 8%;
}
.inputForm {
    background-color: rgba(0, 0, 0, 70%);
    position: absolute;
    border-radius: 20px;
    width: 40%;
    height: 70%;
    top: 25%;
    left: 30%;
}
.textForm {
    text-align: center;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    display: inline;
    margin-top: 10px;
    /* margin-left: 25%; */
    color: gold;
}

#generateText {
    margin-top: 20%;
    /* position: absolute; */
}

#txtNum {
    position: absolute;
    background-color: rgba(0, 0, 0, 50%);
    border: none;
    font-size: 20px;
    border-radius: 10px;
    text-align: center;
    color: white;
    top: 20%;
    left: 15%;
    width: 70%;
    height: 8%;
}

.button1 {
    width: 20%;
    height: 8%;
    background-color: gold;
    border: none;
    border-radius: 5px;
    color: black;
    font-family: 'Holtwood One SC', serif;
    position: absolute;
    top: 35%;
    left: 40%;
    cursor: pointer;
}
#from {
    position: absolute;
    left: 15%;
    top: 64%;
}
#inputFrom {
    position: absolute;
    left: 33%;
    top: 68.5%;
    width: 50px;
    height: 8%;
    background-color: rgba(0, 0, 0, 80%);
    border: none;
    font-size: 20px;
    border-radius: 10px;
    color: white;
}

#to {
    position: absolute;
    left: 60%;
    top: 64%;
}

#inputTo {
    position: absolute;
    left: 72%;
    top: 68.5%;
    width: 50px;
    height: 8%;
    background-color: rgba(0, 0, 0, 80%);
    border: none;
    font-size: 20px;
    border-radius: 10px;
    color: white;
}

.button2 {
    width: 20%;
    height: 8%;
    background-color: gold;
    border: none;
    border-radius: 5px;
    color: black;
    font-family: 'Holtwood One SC', serif;
    position: absolute;
    top: 85%;
    left: 40%;
    cursor: pointer;
}
.button{background-color: #333;color:#fff;padding: 10px 15px;border:none;font: bold 16px Arial, Helvetica, sans-serif;}

.button:hover{background-color: red;color: #fff;}

#dialogoverlay {
    display: none;
    opacity: .8;
    position: fixed;
    top: 0px;
    left: 0px;
    background: #fff;
    width: 100%;
    z-index: 10;
}

#dialogbox{
    display: none;
    position: fixed;
    background: #000;
    border-radius: 7px;
    width: 550px;
    z-index: 10; 
}

#dialogbox div{
    background: #fff; 
    margin: 8px;
}

#dialogbox div #dialogboxhead{
    background: #666;
    font-size: 19px;
    padding: 10px;
    color: #ccc;
}

#dialogbox div #dialogboxbody{
    background: #333;
    padding: 20px;
    color: #fff;
    overflow: scroll;
}

#dialogbox div #dialogboxfoot{
    background: #666;
    padding: 10px;
    text-align: right;
}